/* Montserrat */
@font-face {
  font-family: 'Montserrat, sans-serif ';
  src: url(/src/fonts/Montserrat-Medium.woff2),
       url(/src/fonts/Montserrat-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat, sans-serif ';
  src: url(/src/fonts/Montserrat-Medium.woff2),
       url(/src/fonts/Montserrat-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat, sans-serif ';
  src: url(/src/fonts//Montserrat-SemiBold.woff2),
       url(/src/fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat, sans-serif ';
  src: url(/src/fonts/Montserrat-Bold.woff2),
       url(/src/fonts/Montserrat-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Inter */
@font-face {
  font-family: 'Inter, sans-serif ';
  src: url(/src/fonts/Inter-Medium.woff2),
       url(/src/fonts/Inter-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Inter, sans-serif ';
  src: url(/src/fonts/Inter-Bold.woff2),
       url(/src/fonts/Inter-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
