/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

.list {
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}
