:root {
    --main-black-color: #000;
    --main-black-color-50: #00000080;
    --main-white-color: #fff;
    --main-background-color: #E86F54;
    --hover-button-color: #e25b41;
    --focus-button-color: #fa6f54;
    
}