.delivery-item {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  list-style-type: none;
  counter-increment: list;
  margin-bottom: 14px;
}

.delivery-item::before {
  content: counter(list);
  display: inline-block;
  padding-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.delivery-item:last-child {
  margin-bottom: 0;
}

.delivery-wrap {
  margin-top: 32px;
  margin-bottom: 26px;
}

.delivery-list {
  padding: 0;
  margin: 0 auto;
}

.delivery-text {
  display: block;
  width: 232px;
}

.delivery-img {
  margin: 0 auto;
  min-width: 100%;
}
