.footer-section {
background-color: var(--main-black-color);
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  color: var(--main-white-color);
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: 'Inter', sans-serif;
}

.footer-box {
  width: 138px;
}
.footer-logo-link {
  display: none;
}

.footer-title {
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 18px;
}
.footer-nav-link,
.footer-item {
  color: var(--main-white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.footer-item:hover {
  transform: scale(1.1);
}

.footer-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer-list {
  padding: 0;
}
.footer-work-time {
  width: 90px;
}
.footer-contact-link {
  color: var(--main-white-color);
}

.sm-icon-list {
  display: flex;
  gap: 14px;
  margin: 0;
}

/* svg styles -----------------------*/
.logo-social {
  width: 28px;
  height: 28px;
  stroke: var(--main-white-color);
  stroke-width: 2px;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.logo-social:hover {
  transform: scale(1.4);
}

/* Tablet -- */
@media screen and (min-width: 768px) {
  .footer-box {
    width: 156px;
  }
  .footer-title {
    font-size: 20px;
  }
  .footer-nav-link,
  .footer-item {
    font-size: 16px;
  }
  .sm-icon-list {
    flex-direction: column;
    gap: 18px;
    align-items: flex-end;
  }
}

/* Desktop version -- */
@media screen and (min-width: 1280px) {
  .footer {
    justify-content: normal;
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .footer-logo-link {
    display: inline;
  }
  .logo-footer-icon {
    fill: var(--main-white-color);
    width: 72px;
    height: 57px;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
  }
  
  .logo-footer-icon:hover {
    transform: scale(1.1);
  }

  .footer-nav-box {
    width: 116px;
    margin-left: 210px;
  }
  .footer-time-box {
    width: 143px;
    margin-left: 96px;
  }
  .footer-contact-box {
    width: 237px;
    margin-left: 96px;
  }
  .footer-sm-box {
    width: 29px;
    margin-left: 208px;
  }
}
