.header-bg {
  background-color: var(--main-black-color-50);
}

.header {
  position: fixed;
  top: 0;
  padding: 16px 0 8px 0;
  z-index: 2;
  width: 100%;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 16px;
  animation: changeColor 1000ms ease-out 2000ms both;
}
.header-nav-list {
  display: none;
}
.header-link-box {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-nav-link {
  color: var(--main-black-color);
  animation: changeColor 1000ms ease-out 2000ms both;
}

.header-nav-item {
   transform: scale(1);
   transition: transform 250ms ease-in-out;
}
.header-nav-item:hover {
  transform: scale(1.1);
}

.logo-icon {
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.logo-icon:hover {
  transform: scale(1.1);
}

.header-tel-link {
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.header-tel-link:hover {  
  transform: scale(1.5);
}

.logo-tel {
  animation: tel-ring 5s ease-out infinite both;
}

@keyframes tel-ring {
0% {transform: scale(1.0);}
5% {transform: scale(1.3);}
10% {transform: scale(1.0);}
15% {transform: scale(1.3);}
20% {transform: scale(1.0);}
25% {transform: scale(1.3);}
100% {transform: scale(1.0);}
}

/* MOBILE MENU-- */
.burger-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.burger-menu-btn:hover {
transform: scale(1.4);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
/* close btn for mobile menu */
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  /* color: var(--main-white-color); */
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 124px;
  padding: 0;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 26px;
}
.mobile-menu-link {
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--main-white-color);
}

.modal-btn {
  padding: 12px;
}
@media (min-width: 480px) {
  .header-box {
    width: 480px;
  }
}
/* for tablet and descktop */
@media (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }
}
/* svg styles-- */
.logo-icon {
  width: 45px;
  height: 35px;
}
.logo-tel {
  width: 22px;
  height: 22px;
}
.burger-menu-icon {
  width: 24px;
  height: 24px;
}
.x-icon {
  fill: #fff;
  width: 12px;
  height: 12px;
}

/* Tablet version--------------------- */
@media screen and (min-width: 768px) {
  .header {
    padding: 24px 0 12px 0;
  }

  .header-box {
    width: 768px;
    padding: 0 24px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0;
  }
  .header-nav-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
  }
  .logo-icon {
    width: 72px;
    height: 57px;
  }
}

/* Desktop version------------------- */
@media screen and (min-width: 1280px) {
  .header {
    padding: 28px 0 14px 0;
  }
  .header-box {
    width: 1280px;
    padding: 0 24px;
  }
  .header-nav-list {
    gap: 48px;
  }
}




@keyframes changeColor {
  from {
    transform: translateX(0) translateY(-150%);
  }
  to {
    transform: translateX(0) translateY(0);
    color: #fff;
    fill: #fff;
  }
}
