/* hero-section */
.hero-section {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  height: 405px;
  min-width: 320px;
}

@media (min-width: 480px) {
  .hero-section {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .hero-section {
    height: 849px;
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .hero-section {
    width: 1280px;
    min-height: 878px;
  }
}

.hero-section__container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 52px;
  font-weight: 400;
  line-height: 1.22;
  animation: move-mobile-title 1000ms ease-out 1000ms both;
}

@media (min-width: 768px) {
  .hero-section__title {
    font-size: 120px;
    animation: move-tablet-title 1000ms ease-out 1000ms both;
  }
}

@media (min-width: 1280px) {
  .hero-section__title {
    font-size: 160px;
    animation: move-desktop 1000ms ease-out 1000ms both;
  }
}

@media (min-width: 1280px) {
  .hero-section__title::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 21px;
    width: 58px;
    height: 8px;
    background-color: currentColor;
  }
}

.hero-section__subtitle {
  margin-left: 11px;
  width: 46px;
  font-size: 14px;
  line-height: 1.22;
  font-weight: 400;
  animation: move-mobile-subtitle 1000ms ease-out 1000ms both;
}

@media (min-width: 768px) {
  .hero-section__subtitle {
    margin-left: 49px;
    font-size: 24px;
    animation: move-tablet-subtitle 1000ms ease-out 1000ms both;
  }
}

@media (min-width: 1280px) {
  .hero-section__subtitle {
    margin-left: 210px;
    width: 101px;
    font-size: 32px;
    animation: move-desktop 1000ms ease-out 1000ms both;
  }
}

.hero-section__btn {
  padding: 0;
  background-color: transparent;
  width: 64px;
  height: 64px;
  animation: move-mobile-button 1000ms ease-out 1000ms both;
}

@media (min-width: 768px) {
  .hero-section__btn {
    width: 145px;
    height: 145px;
    animation: move-tablet-button 1000ms ease-out 1000ms both;
  }
}

@media (min-width: 1280px) {
  .hero-section__btn {
    width: 166px;
    height: 166px;
    margin-right: 145px;
    animation: move-desktop 1000ms ease-out 1000ms both;
  }
}

.hero-section__icon-txt-mobile {
  transform-origin: center;
  animation: infinity-rotate 30s linear 2s infinite;
}

@media (min-width: 768px) {
  .hero-section__icon-txt-mobile {
    display: none;
  }
}

.hero-section__btn:hover .hero-section__icon-txt-mobile,
.hero-section__btn:focus .hero-section__icon-txt-mobile {
  animation-play-state: paused;
}

.hero-section__icon-txt-tablet {
  display: none;
  transform-origin: center;
  animation: infinity-rotate 30s linear 2s infinite;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .hero-section__icon-txt-tablet {
    display: block;
  }
}

.hero-section__btn:hover .hero-section__icon-txt-tablet,
.hero-section__btn:focus .hero-section__icon-txt-tablet {
  animation-play-state: paused;
}

.hero-section__icon-txt-desktop {
  transform-origin: center;
  animation: infinity-rotate 30s linear 2s infinite;
}

@media (max-width: 1279px) {
  .hero-section__icon-txt-desktop {
    display: none;
  }
}

.hero-section__btn:hover .hero-section__icon-txt-desktop,
.hero-section__btn:focus .hero-section__icon-txt-desktop {
  animation-play-state: paused;
}

.hero-section__icon-arrow {
  transform-origin: center;
  transition: transform 500ms ease-out;
}

.hero-section__btn:hover .hero-section__icon-arrow,
.hero-section__btn:focus .hero-section__icon-arrow {
  transform: rotate(-122deg);
}

.hero-section__thumb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: scale-up-center-mobile 1000ms ease-out 1000ms both;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-section__thumb {
    animation: scale-up-center-tablet 1000ms ease-out 1000ms both;
  }
}

@media (min-width: 1280px) {
  .hero-section__thumb {
    animation: scale-up-center-desktop 1000ms ease-out 1000ms both;
  }
}

.hero-section__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* animations properties */

/* scale-up-center */
@keyframes scale-up-center-mobile {
  0% {
    -webkit-clip-path: inset(95px 88px 36px 88px round 226px);
    clip-path: inset(95px 88px 36px 88px round 226px);
  }
  50% {
    -webkit-clip-path: inset(95px 44px 36px 44px round 100px);
    clip-path: inset(95px 44px 36px 44px round 100px);
  }
  100% {
    -webkit-clip-path: inset(0 round 0);
    clip-path: inset(0 round 0);
  }
}

@keyframes scale-up-center-tablet {
  0% {
    -webkit-clip-path: inset(119px 189px 94px 189px round 226px);
    clip-path: inset(119px 189px 94px 189px round 226px);
  }
  50% {
    -webkit-clip-path: inset(119px 70px 94px 70px round 100px);
    clip-path: inset(119px 70px 94px 70px round 100px);
  }
  100% {
    -webkit-clip-path: inset(0 round 0);
    clip-path: inset(0 round 0);
  }
}

@keyframes scale-up-center-desktop {
  0% {
    -webkit-clip-path: inset(150px 445px 92px 445px round 226px);
    clip-path: inset(150px 445px 92px 445px round 226px);
  }
  50% {
    -webkit-clip-path: inset(150px 378px 92px 378px round 100px);
    clip-path: inset(150px 378px 92px 378px round 100px);
  }
  100% {
    -webkit-clip-path: inset(0 round 0);
    clip-path: inset(0 round 0);
  }
}

/* move */

/* desktop */
@keyframes move-desktop {
  from {
    transform: translateX(var(--shift-from-x, -50%))
      translateY(var(--shift-from-y, 0));
  }
  to {
    transform: translateX(var(--shift-to-x, -50%))
      translateY(var(--shift-to-y, 0));
    color: var(--main-white-color);
    fill: var(--main-white-color);
  }
}

/* tablet */
@keyframes move-tablet-title {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(-340px);
    color: var(--main-white-color);
    fill: var(--main-white-color);
  }
}

@keyframes move-tablet-subtitle {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-45px) translateY(190px);
    color: var(--main-white-color);
    fill: var(--main-white-color);
  }
}

@keyframes move-tablet-button {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(0) translateY(190px);
    color: var(--main-white-color);
    fill: var(--main-white-color);
  }
}

/* mobile */
@keyframes move-mobile-title {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(-175px);
    color: var(--main-white-color);
    fill: var(--main-white-color);
  }
}

@keyframes move-mobile-subtitle {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-11px) translateY(108px);
    color: var(--main-white-color);
    fill: var(--main-white-color);
  }
}

@keyframes move-mobile-button {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(0) translateY(108px);
    color: var(--main-white-color);
    fill: var(--main-white-color);
  }
}

/* infinity-rotate */
@keyframes infinity-rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
