.backdrop,
.modal-result,
.modal-follow {
  z-index: 99;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden,
.modal-result.is-hidden,
.modal-follow.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 250ms;
}

.modal-contact-wrap,
.modal-result-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 272px;
  height: auto;
  background-color: #fff;
  padding: 28px 16px;
}

@media screen and (min-width: 768px) {
  .modal-contact-wrap,
  .modal-result-wrap {
    width: 480px;
    height: 511px;
    padding: 48px 32px;
  }
}

.close-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: inherit;
}

.modal-contact-title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .modal-contact-title {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 24px;
  }
}

.modal-contact-text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  width: 240px;
  color: #5c5c5c;

  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .modal-contact-text {
    font-size: 16px;
    line-height: calc(20 / 16);
    width: 100%;
    margin-bottom: 32px;
  }
}

/* =======Active mobile form and validation ========*/

.user-name,
.user-mail {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.01rem;
  margin-bottom: 8px;
  color: #5c5c5c;
}

@media screen and (min-width: 768px) {
  .user-name {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  .user-mail {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.user-name:focus-within:not(:placeholder-shown):required:valid,
.user-mail:focus-within:not(:placeholder-shown):required:valid {
  color: #3cbc81;
}

.user-name:focus-within:not(:placeholder-shown):required:invalid,
.user-mail:focus-within:not(:placeholder-shown):required:invalid {
  color: #e74a3b;
}

.input-name {
  width: 100%;
  min-height: 35px;
  font-weight: 500;
  font-size: 12px;
  color: #111111;
  padding: 0 12px;
  margin-bottom: 14px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .input-name {
    margin-bottom: 24px;
    padding: 16px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.input-mail {
  display: block;
  width: 100%;
  min-height: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc (15/12);
  color: #111111;
  padding: 0 12px;
  margin-bottom: 24px;

  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .input-mail {
    padding: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

/* Placeholder and hover, focus input */

.input-name::placeholder,
.input-mail::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
  .input-name::placeholder,
  .input-mail::placeholder {
    font-size: 14px;
    line-height: calc(17 / 14);
    color: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 1280px) {
  .input-name::placeholder,
  .input-mail::placeholder {
    font-size: 14px;
    line-height: calc(17 / 14);
    color: rgba(0, 0, 0, 0.3);
  }
}

.input-name:focus,
.input-mail:focus {
  border-color: rgba(17, 17, 17, 0.7);
  outline: none;
}

.input-name:not(:placeholder-shown):required:valid,
.input-mail:not(:placeholder-shown):required:valid {
  border-color: #3cbc81;
}

.input-name:not(:placeholder-shown):required:invalid,
.input-mail:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
}

/* Set buttons */

.modal-form-btn {
  width: 100%;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 0;
  border: none;
  font-weight: 600;
  font-size: 14px;

  text-align: center;
  color: #ffffff;
  background: #e86f54;
  border-radius: 8px;
  transition: transform 500ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .modal-form-btn {
    font-size: 18px;
    line-height: calc(22 / 18);
    padding: 14px 0;
  }
}

.modal-form-btn:hover {
  background: #e25b41;
  transition: #e25b41 250ms linear;
}

.modal-form-btn:focus {
  background: #fa6f54;
  box-shadow: 0px 4px 16px rgba(250, 111, 84, 0.2);
}
.modal-form-btn:disabled {
  background: rgba(232, 111, 84, 0.4);
}

/* Modal Thank you  */

.modal-result {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-result-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 272px;
  height: 357px;
  background-color: #fff;
  padding: 44px 16px 32px 16px;
}

@media screen and (min-width: 768px) {
  .modal-result-wrap {
    width: 480px;
    height: 505px;
    padding: 54px 32px;
    margin-bottom: 16px;
  }
}

.close-btn {
  background-color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.close-icon {
  cursor: pointer;
  background-color: #ffffff;
}

.result-img {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 188px;
  height: 142px;
}

@media screen and (min-width: 768px) {
  .result-img {
    width: 266px;
    height: 202px;
    margin-bottom: 16px;
  }
}

.title-result {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.01rem;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .title-result {
    font-size: 32px;
    margin-bottom: 16px;
  }
}

.answer-result {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  letter-spacing: 0.03rem;
  color: #5c5c5c;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .answer-result {
    font-size: 16px;
    line-height: calc(20 / 16);
    margin-bottom: 35px;
  }
}

/* Modal Follow */

.modal-follow-wrap {
  position: absolute;
  height: 380px;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 272px;
  min-height: 357px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .modal-follow-wrap {
    width: 588px;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .modal-follow-wrap {
    width: 860px;
    flex-direction: row;
  }
}

.modal-follow-img {
  width: 100%;
  background-size: cover;
}

.result-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7d5e2;
}

@media screen and (min-width: 1280px) {
  .result-btn-icon {
    background-color: #fff;
  }
}

.content-modal-follow {
  padding: 18px 16px 28px 16px;
}

@media screen and (min-width: 768px) {
  .content-modal-follow {
    padding: 28px 118px 40px 118px;
  }
}

@media screen and (min-width: 1280px) {
  .content-modal-follow {
    padding: 112px 40px;
  }
}

.modal-follow-title {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 19px;
  line-height: calc(23 / 19);
  text-align: center;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .modal-follow-title {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: calc(34 / 28);
    margin-bottom: 24px;
  }
}

.follow-answer {
  width: 236px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-align: center;
  color: #5c5c5c;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .follow-answer {
    width: 336px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(21 / 16);
    margin-bottom: 32px;
  }
}

.user-mail-follow {
  display: block;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #5c5c5c;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .user-mail-follow {
    font-size: 14px;
    line-height: calc (17 / 14);
    margin-bottom: 8px;
  }
}
