.store-title {
    margin-bottom: 32px;
}

.store-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px; 
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
   }

.store-thumbe {
    margin-bottom: 12px;
}
.store-subtitel {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    margin-bottom: 6px;
}
.store-text {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15/12);
    opacity: 0.6;
}
.store-img {
    margin: 0;
}
