.buttons {
  align-items: center;
  padding: 14px 28px;
  width: 208px;
  background: #e86f54; /*Потрібно добавити колір через змінну */
  border-radius: 38px;
  border: none;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(18 / 24);
}
@media screen and (min-width: 768px) {
  .buttons {
    width: 280px;
    padding: 16px 32px;
    font-size: 28px;
    line-height: calc(24 / 28);
  }
}
.buttons:hover {
  background-color: var(--hover-button-color);
}
.buttons:focus {
  background-color: var(--focus-button-color);
}