.titles {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    color: var(--main-black-color);
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    .titles {
      font-size: 44px;
      line-height: calc(54 / 44);
    }
  }
  
  .titles::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    border: 1px solid #000000;
    border: 1px solid var(--main-black-color);
    margin-left: 14px;
  }
