<section class="section-about section-padding" id="about">
  <div class="container">
    <h2 class="titles about-title">ABOUT</h2>
    <div class="about-wrapper">
      <p class="about-desc">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <img
        class="about-img"
        srcset="
          ./img/about/img_288.png   288w,
          ./img/about/img_344.png   344w,
          ./img/about/img_632.png   632w,
          ./img/about/img_576.png   576w,
          ./img/about/img_688.png   688w,
          ./img/about/img_1264.png 1264w
        "
        sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, (max-width: 768px) 288px, 100vw"
        src="./img/about/img_632.png"
        alt="The flowers are light orange"
        loading="lazy"
      />
    </div>
  </div>
</section>
