<section class="container section-padding">
  <h2 class="titles blog-titles">blog</h2>
  <div class="responsive-slider">
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image1-desck.jpg    1x,
            ./img/blog/descktop/flowers-image1-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image1-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image1-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image1.jpg"
          srcset="./img/blog/flowers-image1@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image2-desck.jpg    1x,
            ./img/blog/descktop/flowers-image2-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image2-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image2-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image2.jpg"
          srcset="./img/blog/flowers-image2@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image3-desck.jpg    1x,
            ./img/blog/descktop/flowers-image3-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image3-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image3-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image3.jpg"
          srcset="./img/blog/flowers-image3@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image1-desck.jpg    1x,
            ./img/blog/descktop/flowers-image1-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image1-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image1-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image1.jpg"
          srcset="./img/blog/flowers-image1@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image2-desck.jpg    1x,
            ./img/blog/descktop/flowers-image2-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image2-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image2-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image2.jpg"
          srcset="./img/blog/flowers-image2@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image3-desck.jpg    1x,
            ./img/blog/descktop/flowers-image3-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image3-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image3-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image3.jpg"
          srcset="./img/blog/flowers-image3@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
  </div>
  <div class="btn-wrap">
    <button class="prev-btn blog-slider-btn">
      <svg class="svg-arrow" width="60px" height="60px">
        <use href="./img/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="next-btn blog-slider-btn">
      <svg class="svg-arrow" width="60px" height="60px">
        <use href="./img/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
  <p class="blog-text">Follow to our newsletter</p>
  <button class="buttons">Subscribe</button>
</section>
