<section class="container section-padding" id="blog">
  <h2 class="titles blog-titles">BLOG</h2>
  <div class="responsive-slider">
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image1-desck.jpg    1x,
            ./img/blog/descktop/flowers-image1-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image1-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image1-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image1.jpg"
          srcset="./img/blog/flowers-image1@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image2-desck.jpg    1x,
            ./img/blog/descktop/flowers-image2-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image2-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image2-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image2.jpg"
          srcset="./img/blog/flowers-image2@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image3-desck.jpg    1x,
            ./img/blog/descktop/flowers-image3-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image3-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image3-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image3.jpg"
          srcset="./img/blog/flowers-image3@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image4-desck.jpg    1x,
            ./img/blog/descktop/flowers-image4-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image4-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image4-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image4.jpg"
          srcset="./img/blog/flowers-image1@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image5-desck.jpg    1x,
            ./img/blog/descktop/flowers-image5-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image5-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image5-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image5.jpg"
          srcset="./img/blog/flowers-image2@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
    <div class="slide">
      <picture>
        <source
          srcset="
            ./img/blog/descktop/flowers-image6-desck.jpg    1x,
            ./img/blog/descktop/flowers-image6-desck@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/blog/tablet/flowers-image6-tablet.jpg    1x,
            ./img/blog/tablet/flowers-image6-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <img
          width="390"
          src="./img/blog/flowers-image6.jpg"
          srcset="./img/blog/flowers-image3@2x.jpg 2x"
          alt="img"
        />
      </picture>
    </div>
  </div>
  <div class="btn-wrap">
    <button class="prev-btn blog-slider-btn">
      <svg class="svg-arrow" width="60px" height="60px">
        <use href="./img/blog.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="next-btn blog-slider-btn">
      <svg class="svg-arrow" width="60px" height="60px">
        <use href="./img/blog.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
  <p class="blog-text">Follow to our newsletter</p>
  <button class="buttons" data-follow-open>Subscribe</button>
</section>
