<section class="container blog-section">
  <h2 class="titles blog-titles">blog</h2>
  <div class="responsive-slider">
    <div class="slide"><img width="" src="./img/blog/flowers-image1.jpg" alt="img" /></div>
    <div class="slide"><img width="" src="./img/blog/flowers-image2.jpg" alt="img" /></div>
    <div class="slide"><img width="" src="./img/blog/flowers-image3.jpg" alt="img" /></div>
  </div>
  <div class="btn-wrap">
    <button class="prev-btn blog-slider-btn">
      <svg class="svg-arrow" width="60px" height="60px">
        <use href="./img/icons.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="next-btn blog-slider-btn">
      <svg class="svg-arrow" width="60px" height="60px">
        <use href="./img/icons.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
  <p class="blog-text">Follow to our newsletter</p>
  <button class="buttons">Subscribe</button>
</section>
