<!-- FOOTER BLOCK ------------------------------------------------------------------------------>

<footer class="footer container">
  <div class="footer-box">
    <h3 class="footer-title titles">Navigation</h3>
    <ul class="footer-list list">
      <li class="footer-item">Anemone</li>
      <li class="footer-item">About us</li>
      <li class="footer-item">Store</li>
      <li class="footer-item">Delivery</li>
    </ul>
  </div>

  <div class="footer-box">
    <h3 class="footer-title titles">Opening times</h3>
    <ul class="footer-list list">
      <li class="footer-work-time footer-item">Every day 9:00 - 22:00</li>
    </ul>
  </div>
  <div class="footer-box">
    <h3 class="footer-title titles">Contacts</h3>
    <ul class="footer-list list">
      <li class="footer-item">
        <a class="footer-contact-link link" href="tel:+380631234567"
          >+38 063 123 45 67</a
        >
      </li>
      <li class="footer-item">
        <a
          class="footer-contact-link link"
          href="mailto:anemonestudio@example.com"
          >anemonestudio @example.com</a
        >
      </li>
      <li class="footer-item">Reitarska Street, 11 Kyiv, Ukraine</li>
    </ul>
  </div>
  <div class="footer-box">
    <ul class="footer-list sm-icon-list list">
      <li>
        <a href=""
          ><svg class="logo" width="28px" height="28px">
            <use href="../img/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li>
        <a href=""
          ><svg class="logo-instagram" width="28px" height="28px">
            <use href="../img/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</footer>
