<!-- FOOTER BLOCK ----->

<footer class="footer-section">
  <div class="footer container">
    <a class="footer-logo-link" href="./index.html">
      <svg class="logo-footer-icon">
        <use href="./img/header-footer.svg#icon-logo"></use></svg
    ></a>
    <div class="footer-nav-box footer-box">
      <h3 class="footer-title">Navigation</h3>
      <ul class="footer-list list">
        <li class="footer-item">
          <a class="footer-nav-link link" href="#anemone">Anemone</a>
        </li>
        <li class="footer-item">
          <a class="footer-nav-link link" href="#about">About us</a>
        </li>
        <li class="footer-item">
          <a class="footer-nav-link link" href="#store">Store</a>
        </li>
        <li class="footer-item">
          <a class="footer-nav-link link" href="#delivery">Delivery</a>
        </li>
      </ul>
    </div>

    <div class="footer-time-box footer-box">
      <h3 class="footer-title">Opening times</h3>
      <ul class="footer-list list">
        <li class="footer-work-time ">Every day 9:00-22:00</li>
      </ul>
    </div>
    <div class="footer-contact-box footer-box">
      <h3 class="footer-title">Contacts</h3>
      <ul class="footer-list list">
        <li class="footer-item">
          <a class="footer-contact-link link" href="tel:+380631234567"
            >+38 063 123 45 67</a
          >
        </li>
        <li class="footer-item">
          <a
            class="footer-contact-link link"
            href="mailto:anemonestudio@example.com"
            >anemonestudio @example.com</a
          >
        </li>
        <li class="footer-item">
          <a href="https://goo.gl/maps/gK2a956GizcYafyN6"
          target="_blank"
          rel="noopener noreferrer nofollow"
          class="link footer-item">Reitarska Street, 11 Kyiv, Ukraine</a></li>       
      </ul>
    </div>
    <div class="footer-sm-box footer-box">
      <ul class="footer-list sm-icon-list list">
        <li>
          <a href="https://uk-ua.facebook.com/" target="_blank"
            ><svg class="logo-social">
              <use href="./img/header-footer.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><svg class="logo-social">
              <use href="./img/header-footer.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
