<!-- 
Anchor link
 id="anemone"
 id="about"
 id="store"
 id="delivery"
 id="blog"
--->

<!-- HEADER--->
<header class="header сontainer header-js">
  <div class="header-box ">
    <a class="header-link" href="./index.html">
      <svg class="logo-icon">
        <use href="./img/header-footer.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="#anemone" class="header-nav-link link">Anemone</a>
        </li>
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link link">About us</a>
        </li>
        <li class="header-nav-item">
          <a href="#store" class="header-nav-link link">Store</a>
        </li>
        <li class="header-nav-item">
          <a href="#delivery" class="header-nav-link link">Delivery</a>
        </li>
        <li class="header-nav-item">
          <a href="#blog" class="header-nav-link link">Blog</a>
        </li>
      </ul>
    </div>
    <div class="header-link-box">
      <a class="header-tel-link link" href="tel:+380631234567"
        ><svg class="logo-tel">
          <use href="./img/header-footer.svg#icon-tel"></use>
        </svg>
      </a>
      <!-- burger btn for mobile menu-->
      <button
        class="burger-menu-btn js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <svg class="burger-menu-icon">
          <use href="./img/header-footer.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!--MOBILE MENU ------------------------------------------------------------------------------------>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="modal-btn menu-toggle js-close-menu">
    <svg class="x-icon">
      <use href="./img/header-footer.svg#icon-cross"></use>
    </svg>
  </button>
  <!-- mob-menu list --->
  <ul class="mobile-menu-list list">
    <li class="mobile-menu-item">
      <a href="#anemone" class="mobile-menu-link link js-close-menu">Anemone</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#about" class="mobile-menu-link link js-close-menu">About us</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#store" class="mobile-menu-link link js-close-menu">Store</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#delivery" class="mobile-menu-link link js-close-menu">Delivery</a>
    </li>
    <li class="mobile-menu-item">
      <a href="#blog" class="mobile-menu-link link js-close-menu">Blog</a>
    </li>
  </ul>
</div>
