<section class="container">
  <h2 class="store-title titles">store</h2>
  <ul class="store-list list">
    <li class="store-item item">
      <div class="store-thumbe">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
            ../img/store/bouquet-img-3_mobi@1x.jpg 1x, 
            ../img/store/bouquet-img-3_mobi@1x.jpg 2x;"
          />
          <img
            class="store-img"
            src="../img/store/bouquet-img-3_mobi@1x.jpg 1x"
            alt="compliments"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <h3 class="store-subtitel">compliments</h3>
        <p class="store-text">from $15</p>
      </div>
    </li>
    <li class="store-item item">
      <div class="store-thumbe">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/store/bouquet-img-1_mobi@1x.jpg 1x,
            ./img/store/bouquet-img-1_mobi@1x.jpg 2x;"
          />
          <img
            class="store-img"
            src="./img/store/bouquet-img-1_mobi@1x.jpg 1x"
            alt="bouquets size S"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <h3 class="store-subtitel">bouquets size S</h3>
        <p class="store-text">from $25</p>
      </div>
    </li>
    <li class="store-item item">
      <div class="store-thumbe">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/store/bouquet-img-2_mobi@1x.jpg 1x,
            ./img/store/bouquet-img-2_mobi@1x.jpg 2x;"
          />
          <img
            class="store-img"
            src="./img/store/bouquet-img-2_mobi@1x.jpg 1x"
            alt="bouquets size M"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <h3 class="store-subtitel">bouquets size M</h3>
        <p class="store-text">from $45</p>
      </div>
    </li>
    <li class="store-item item">
      <div class="store-thumbe">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
            ./img/store/bouquet-img-4_mobi@1x.jpg 1x,
            ./img/store/bouquet-img-4_mobi@1x.jpg 2x;"
          />
          <img
            class="store-img"
            src="./img/store/bouquet-img-4_mobi@1x.jpg 1x"
            alt="bouquets size L"
            width="136"
            height="155"
            loading="lazy"
          />
        </picture>
      </div>
      <div>
        <h3 class="store-subtitel">bouquets size L</h3>
        <p class="store-text">from $60</p>
      </div>
    </li>
  </ul>
  <button class="store-button buttons">Order flowers</button>
</section>
